.App {
    text-align: center;
    padding: 50px; /* Adjust the padding as needed */
  }
  
  h2 {
    color: #333; /* Adjust the color as needed */
  }
  
  button {
    margin-top: 10px; /* Adjust the margin as needed */
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  